<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swagger Petstore Test Suite">

    <!-- Listener for generating Extent Reports -->
    <listeners>
        <listener class-name="com.restassured.utility.ExtentReports"/>
    </listeners>

    <!-- Test block for executing all test cases -->
    <test name="Pet Store Test Case Execution Starts">
        <classes>
            <class name="com.restassured.testcases.PetTestCase"/>
            <class name="com.restassured.testcases.StoreTestCase"/>
            <class name="com.restassured.testcases.UserTestCase"/>

        </classes>
    </test>
</suite>
