<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Qapitol QA/IdeaProjects/ApiCucumber/src/test/java/com/simplebooks/tests/SimpleBooksTest.java">
        <classes>
            <class name="com.simplebooks.tests.SimpleBooksTest">
                <methods>
                    <include name="getAvailableBooks"/>
                    <include name="getToken"/>
                    <include name="createAnOrder"/>
                    <include name="getBookById"/>
                    <include name="updateBookById"/>
                    <include name="getStatus"/>
                    <include name="deleteAvailableBooks"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>